<div class="press-container clearfix cd-section" id="press-container">
	<h2>press for the french beauty solution</h2>
	<div class="press-images">
		
		<div class="press-image-container"><a href="http://www.allure.com/beauty-trends/blogs/daily-beauty-reporter/2015/07/french-beauty-tips-caudalie-book.html" target="_blank">
		<%= image_tag('press/allure.jpeg') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.latimes.com/fashion/la-ig-french-beauty-solution-20150719-story.html#page=1" target="_blank">
		<%= image_tag('press/LA-Times.jpg') %></a>
		</div>
		
		<div class="press-image-container"><a href="http://www.style.com/beauty/skin-and-health/2015/french-beauty-mathilde-thomas-interview" target="_blank">
		<%= image_tag('press/Style.com.jpg') %></a>
		</div>
		
		<div class="press-image-container"><a href="http://www.vanityfair.com/style/2015/07/the-ultimate-french-girlcaudalies-mathilde-thomas-on-french-beauty-solution" target="_blank">
		<%= image_tag('press/VanityFair.jpg') %></a>
		</div>

		<div class="press-image-container"><a href="https://www.yahoo.com/beauty/these-are-the-secrets-to-french-beauty-124036647753.html" target="_blank">
		<%= image_tag('press/Yahoo.jpg') %></a>
		</div>
		
		<div class="press-image-container"><a href="http://stylecaster.com/beauty-high/french-beauty-secrets/" target="_blank">
		<%= image_tag('press/StyleCaster.jpg') %></a>
		</div>

		<div class="press-image-container"><a href="https://www.mimichatter.com/the-french-beauty-solution-mathilde-thomas-caudalie-1248165570.html" target="_blank">
		<%= image_tag('press/Mimi.jpg') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.hollywoodreporter.com/news/caudalie-french-beauty-tips-791136" target="_blank">
		<%= image_tag('press/Hollywood-Reporter.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://wwd.com/beauty-industry-news/skin-care/caudalies-mathilde-thomas-on-her-newest-book-10091323" target="_blank">
		<%= image_tag('press/WWD.png') %>
		</a>
		</div>

		<div class="press-image-container"><a href="http://www.byrdie.com/french-skincare-secrets" target="_blank"><%= image_tag('press/byrdie.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://thezoereport.com/french-beauty" target="_blank"><%= image_tag('press/Zoe-Report.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.redbookmag.com/beauty/hair/tips/a21922/shiny-hair-hacks" target="_blank"><%= image_tag('press/redbook.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.blushandbeyond.com/skincare/a-new-book-the-french-beauty-solution" target="_blank"><%= image_tag('press/Blush-Beyond.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://blog.spafinder.com/craving-french-beauty-solution" target="_blank"><%= image_tag('press/Spa-Finder.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://cosmeticsmag.com/interviews/2015/5/mathilde-thomas-co-founder-of-caudalie" target="_blank"><%= image_tag('press/cosmetics.png') %></a>
		</div>
		
		<div class="press-image-container observer"><a href="http://observer.com/2015/07/the-secret-to-french-beauty-revealed-and-yes-it-does-involve-wine" target="_blank"><%= image_tag('press/Observer.png') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.eonline.com/photos/16311/beach-books-what-stars-are-reading-this-summer/493426" target="_blank"><%= image_tag('press/E_logo.png') %></a></div>

		<div class="press-image-container"><a href="http://www.bbook.com/beauty/how-to-get-carded-look-younger-fast" target="_blank"><%= image_tag('press/blackbox.png') %></a></div>


		<div class="press-image-container"><a href="http://goop.com/the-best-summer-15-reading/" target="_blank"><%= image_tag('press/GOOP.jpg') %></a>
		</div>

		<div class="press-image-container"><a href="http://www.forbes.com/sites/celiashatzman/2015/07/27/french-beauty-secrets-from-caudalie-founder-mathilde-thomas/" target="_blank"><%= image_tag('press/forbes.jpg') %></a>
		</div>
		
		<h2 class="video-title">Watch Mathilde Thomas on Good Morning America</h2>
		<div class="video-container">
			<%= video_tag "Mathilde.mp4", :width => "100%", :controls => true %>
		</div>

	</div>
</div>