<div class="book-review-section cd-section" id="book-review-section">
  <div class="all-quote-container">
  <h2>praise for the french beauty solution</h2>
    <!-- <img class="quotation-mark" src="images/quotes-bottom.png" alt=""> -->
    <%= image_tag('quotes-bottom.png', class: "quotation-mark") %>
    <div class="quote quote-1 review-left">
        <div class="quote-text">
        <!-- <img src="images/quotes/JasonWu-2.png" alt=""> -->
        <%= image_tag('quotes/JasonWu-2.png') %>
            <h3>jason wu, <span>Fashion Designer</span></h3>
            <p>I'm thrilled Mathilde is sharing her best kept French beauty secrets, I've been a fan of Caudalie and her Vinotherapie Spas for years.</p>
        </div>
    </div>
    <div class="quote quote-2 review-right">
        <div class="quote-text">
         <!-- <img src="images/quotes/Rashida-Jones-2.png" alt=""> -->
         <%= image_tag('quotes/Rashida-Jones-2.png') %>
            <h3>rashida jones, <span>Actress</span></h3>
            <p>The French Beauty Solution takes a holistic approach to being a gorgeous woman. Sharing her wonderful philosophy on lifestyle and easy maintenance, Mathilde speaks from the heart. Besides, who doesn't want to learn the secret behind what makes French women so effortlessly beautiful and confident.</p>

        </div>
        
    </div>
    <div class="quote quote-3 review-left">
        <div class="quote-text">
        <!-- <img src="images/quotes/KatieLowes-2.png" alt=""> -->
        <%= image_tag('quotes/KatieLowes-2.png') %>
            <h3>katie lowes, <span>Actress</span></h3>
            <p>What I really love and admire about Mathilde and the Caudalie brand is how they place the emphasis on feeling good vs. looking good. Confidence certainly exemplifies beauty and Mathilde captures that entirely - it sends a wonderful message.</p>
        </div>
    </div>


     <div class="quote quote-4 review-right">
        <div class="quote-text">
        <!-- <img src="images/quotes/Oliva-Palermo.png" alt=""> -->
        <%= image_tag('quotes/Oliva-Palermo.png') %>
            <h3>olivia palermo, <span>Fashion Influencer</span></h3>
            <p>Mathilde's French Beauty Solution offers incredible advice to women on skincare and the importance of enjoying your beauty routine. This is my new summer beauty bible.</p>
        </div>
      </div>


    <div class="quote quote-5 review-left">
        <div class="quote-text">
        <!-- <img src="images/quotes/Lottie.png" alt=""> -->
        <%= image_tag('quotes/Lottie.png') %>
            <h3>lottie, <span>Celebrity Makeup Artist</span></h3>
            <p>I just read Mathilde's book and I love that she is not only teaching beauty regimens, which go against all the old wives tales but that she also points out the beauty of women who have aged gracefully instead of just promoting youth.</p>
        </div>
    </div>
    <div class="quote quote-6 review-right">
      <div class="quote-text">
       <%= image_tag('quotes/GaranceDore.png') %>
          <h3>Garance Dore, <span>Photographer, Illustrator & Author</span></h3>
          <p>As a French woman, The French Beauty Solution really simplifies the French way of the beauty for all women to enjoy.</p>
      </div>
    </div>
    <%= image_tag('quotes-bottom.png', class: "quotation-mark") %>
  </div>
</div>