<!-- 
<div class="image-grid clearfix">
  <div class="grid-sizer"></div>
  <div class="item item-h1 item-w1"><%#= image_tag "big640x640.jpg" %></div>
  <div class="item item-h2 item-w2"><%#= image_tag "hoz640x320.jpg" %></div>
  <div class="item item-h3 item-w3"><%#= image_tag "small320x320.jpg" %></div>
  <div class="item item-h3 item-w3"><%#= image_tag "small320x320.jpg" %></div>
  <div class="item item-h1 item-w1"><%#= image_tag "big640x640.jpg" %></div>
  <div class="item item-h2 item-w2"><%#= image_tag "hoz640x320.jpg" %></div>
  <div class="item item-h2 item-w2"><%#= image_tag "hoz640x320.jpg" %></div>
</div> -->

<div class="fuzz">static</div>

<audio class="player"><source class="mp3-source" src="assets/Skepta-cut.mp3" type="audio/mpeg" /></audio>

<div class="grid clearfix">
  <div class="grid-sizer"></div>
  <div class="grid-item grid-item--width2 grid-item--height2"><%= image_tag "big640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "hoz640x320.jpg" %></div>
  <div class="grid-item"><%= image_tag "foil320x640.jpg" %></div>
  <div class="grid-item grid-item--width2 grid-item--height2"><%= image_tag "big640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "chip640x1280.jpg" %></div>
  <div class="grid-item"><%= image_tag "small320x320.jpg" %></div>
  <div class="grid-item grid-item--width2 apple"><%= image_tag "apple640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "eyes-kim640x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "burger640x640.jpg" %></div>
  <div class="grid-item grid-item--width3"><%= image_tag "goldbutt1280x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "hoz640x320.jpg" %></div>
  <div class="grid-item grid-item--width2 grid-item--height2"><%= image_tag "big640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "eye640x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "glove640x640.jpg" %></div>
  <div class="grid-item"><%= image_tag "lights320x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "oil640x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "peel640x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "phone640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "robot640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "smear640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "gun640x640.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "smeargold640x320.jpg" %></div>
  <div class="grid-item grid-item--width2"><%= image_tag "statue640x640.jpg" %></div>
  <div class="grid-item"><%= image_tag "vert320x640.jpg" %></div>

</div>





<div class="stripeTests">
<div>

<h3>Add a New Member</h3>
<p>Please enter your email address to subscribe to our newsletter.</p>
<%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true") do -%>
   <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
   <%= submit_tag("Subscribe") %>
<% end %>
<div id="response">Response Will be displayed here</div>
</div>






<%= form_tag charges_path, :class => 'stripeForm' do %>
  
    <!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
<!--     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Product Name"
        data-description="Product Description"
        data-label="Claim"
        data-shipping-address="Enter shipping address here."
        data-amount="">
     </script> -->
    <%#= hidden_field_tag :product_id, @product.id %>
    <%#= hidden_field_tag :quantity, '1' %>
    <!-- REPLACE ZIPCODE WITH  -->

<span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>


    <%= hidden_field_tag :zipCode, '11221' %>
    <div id="customStripeButton">Button</div>
<% end %>



<div>
<%#= form_tag charges_path do %>
    <!-- <script src="https://checkout.stripe.com/checkout.js" data-shipping-address="Enter shipping address here."></script> -->

    <!-- <div id="customStripeButton">Button</div> -->

    <%#= javascript_tag :'data-shipping-address' => true do %>
<!--     var handler = StripeCheckout.configure({
      key: "<%#= Rails.configuration.stripe[:publishable_key] %>",
      token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      $.ajax('/charges/create')
      }
    });

    $('#customStripeButton').on('click', function(e) {
    console.log('clicked');
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: '2 widgets',
      amount: 1000,
      shipping: true
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  }); -->

    <%# end %>
    <%#= hidden_field_tag :product_id, @product.id %>
    <%#= hidden_field_tag :quantity, '1' %>
<%# end %>
</div>
</div>

<div class="footer">
  <div class="footer-image-container smear-gold"><img src="" alt="footer-image"></div>
  <div class="footer-image-container fuckoff"><img src="" alt="footer-image"></div>
  <div class="footer-image-container smear-gold"><img src="" alt="footer-image"></div>
  <div class="footer-image-container fuckoff"><img src="" alt="footer-image"></div>
</div>


<div class="fb-tab-content">
  <div class="beautygrows-gallery cd-section" id="beautygrows-gallery">
    <!-- <h3>#thefrenchbeautysolution</h3> -->
    <div id="photo-detail"></div>
    <div class="table-width">
    <%# animations = ["fadeInUp", "fadeInLeft", "fadeInRight"] %>
    <%# @photos.each_with_index do |photo, i| %>
      <%#= link_to image_tag(photo.standard_url, 
        class: "instaphoto animated #{animations[i % 3]} size#{i % 3} p#{i+1}",
        "data-content" => "<div class='close'>x</div><div class='instaphoto-zoom'>#{image_tag photo.standard_url}</div><div class='user-profile-pic'>#{image_tag(photo.user_profile_picture) if photo.user_profile_picture}</div><div class='photo-info'><div class='photo-user-full-name'>#{photo.user_full_name}</div><div class='photo-user-username'>#{photo.user_username}</div><div class='photo-caption'>#{photo.caption_text}</div></div>"),
        photo.standard_url, class: "fancybox", rel: "instagallery", title: "@#{photo.user_username}"
      %>
    <%# end %>
  </div>
  </div>
  <div class="social-links-container">
  </div>
</div>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
  appId : '536778663069268',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml : true // parse XFBML
});
</script>
<script type="text/javascript">
window.fbAsyncInit = function() {
  FB.Canvas.setAutoGrow();
}
</script>
<script type="text/javascript">
$(document).ready(function() {
  $(".fancybox").fancybox();
});
</script>
<!--script type="text/javascript">
$( document ).ready(function() {
  $(".instaphoto").popover({
    html: true,
    placement: "top",
    trigger: "hover"
  });
});
</script-->

