<!DOCTYPE html>
<html>
<head>
  <title>Smear Gold</title>
  <meta name="description" content="SmearGold">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "isotope.js" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
	<script src="//use.typekit.net/fym6jin.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<%= favicon_link_tag 'grape.ico' %>
</head>
<body>

<%= yield %>


</body>
</html>
